[submodule "start/vim-go"]
	path = start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround
